@{
    ViewData["Title"] = "Home Page";
}

<table style="width:100%">
    <tr>
        <td style="text-align:left; font-size:large">Книги</td>
        <td style="text-align:right; font-size:large"><a class="btn-outline-dark" asp-controller="Books" asp-action="Index">Просмотр</a></td>
    </tr>
    <tr>
        <td style="text-align:left; font-size:large">Работники</td>
        <td style="text-align:right; font-size:large"><a class="btn-outline-dark" asp-controller="Employee" asp-action="Index">Просмотр</a></td>
    </tr>
    <tr>
        <td style="text-align:left; font-size:large">Читатели</td>
        <td style="text-align:right; font-size:large"><a class="btn-outline-dark" asp-controller="Reader" asp-action="Index">Просмотр</a></td>
    </tr>
</table>
